source https://nuget.org/api/v2

nuget FSharp.Configuration
nuget FSharp.Formatting
nuget NuGet.CommandLine
nuget FAKE
nuget RazorEngine
nuget Suave
nuget NUnit ~> 2
nuget NUnit.Runners ~> 2
github forki/FsUnit FsUnit.fs

group posts
source https://nuget.org/api/v2
nuget Hopac
nuget Chiron prerelease
nuget NodaTime
