@{
    Layout = "default";
    Title = "INDEX";
    Description = "Writings on sofware engineering";
}

<h1>Grim's Grapes</h1>

<p>Writings about programming and software engineering. Built on the F# static site generator <a href="https://github.com/fsprojects/FsBlog"><strong>FsBlog</strong></a>.</p>

@if (Model.Posts.Length > 0) {
  <h2>Latest Post: <a href="@(Model.Root)blog/@Model.Posts[0].Url/index.html">@Model.Posts[0].Title</a></h2>
  <blockquote>
  <p>@Model.Posts[0].Abstract</p>
  </blockquote>
}

<h2>About the Author</h2>

<p><string>Marcus Griep</strong> is a software engineer for <a href="http://cimpress.com">Cimpress</a>. Marcus is a frequent contributor to the open source community who has taken a recent interest in F# in specific and functional programming in general. Besides working with software, Marcus officiates American football and is a contributor to the <a href="http://footballzebras.com">Football Zebras</a> site. When not working with code or on the field, Marcus tries to make time for photography and board games with his family.</p>
<p><a href="@(Model.Root)cv.html">My CV/Resume</a></p>